<section class='container'>
	<div class='row'>
		<div class='col-9'>
			<%= text_area(@questionnaire_response, :to_json, cols: 60, rows: 40) %>
		</div>
		<div class='col-3'>
			<%= form_tag update_convert_path(id), method: :put) %>
				<%= submit_tag 'Convert' %>
			<% end %>
		</div>
	</div>
</section>