<div class='card bg-dark text-white'>
  <div class='card-header'><%= title %></div>
  <div class='card-body'>
    <table class='table table-striped table-dark status'>
      <% assessments.each do |assessment| %>
        <tr>
          <td><%= assessment[:name] %></td>
          <td>
            <%= link_to("HDM", assessments_path(file: assessment[:file],
                                                    server_url: @health_data_mgr,
                                                    convert: true,
                                                    category: category),
                            method: :post, 
                            class: "btn btn-primary", role: "button") %>
          </td>
          <td>
            <%= link_to("pQRS", assessments_path(file: assessment[:file], 
                                                    server_url: @pqrs_server,
                                                    convert: false,
                                                    category: category),
                            method: :post,
                            class: "btn btn-secondary", role: "button") %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>