<!-- app/views/conditions/index.html.erb -->
<div class="px-4 sm:px-6 lg:px-8 sm:ml-64 w-full h-full" data-controller="showhide">
  <div class="sm:flex sm:items-center w-11/12">
    <div class="sm:flex-auto">
      <h1 class="text-base font-semibold leading-6 text-gray-900">
        Conditions
        <span class="inline-flex items-center justify-center w-4 h-4 ms-2 text-xs font-semibold text-blue-800 bg-blue-200 rounded-full">
          <%= @condition_count %>
        </span>
      </h1>
    </div>
    <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
      <button type="button"
        class="block rounded-md bg-indigo-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
       Add new condition
       </button>
    </div>
  </div>
  <div class="w-11/12 flex flex-col-reverse md:flex-row items-start md:items-center justify-between md:space-x-4 p-4 border-b dark:border-gray-700">
    <div class="grid grid-cols-1 md:grid-cols-2 w-full lg:w-2/3 md:gap-4">
      <div class="w-full">
        <label for="condition-type" class="sr-only">Filter By type</label>
        <select id="condition-type" class="block py-2.5 px-0 w-full text-sm text-gray-500 bg-transparent border-0 border-b-2 border-gray-200 appearance-none dark:text-gray-400 dark:border-gray-700 focus:outline-none focus:ring-0 focus:border-gray-200 peer"
          data-action="change->showhide#toggleConditions" data-showhide-target="conditionType"
        >
          <option>All</option>
          <option>Condition Problem/Health Concern</option>
          <option>Encounter Diagnosis</option>
          <option>Other</option>
        </select>
      </div>
    </div>
  </div>
  <%= render "conditions" %>
</div>
