<%= turbo_frame_tag "care_teams" do %>
  <div id="accordion" class="mt-8 flow-root w-11/12" data-accordion="open">

    <% if @care_teams.empty? %>
      <div class="m-auto max-w-4xl self-center">
        <%= image_tag "providers.webp" , alt: "Providers team" , class: "overflow-clip" %>
        <span class="text-center text-2xl w-auto mt-8" tabindex="-1">No providers currently available</span>
      </div>
    <% end %>

    <% @care_teams.each do |care_team| %>
      <%= render "single_care_team", care_team: care_team %>
    <% end %>
  </div>
<% end %>
