<!-- app/views/care_teams/index.html.erb -->
<div class="px-4 sm:px-6 lg:px-8 sm:ml-64 w-full h-full">
  <div class="sm:flex sm:items-center mt-4">
    <div class="sm:flex-auto">
      <h1 class="text-base font-semibold leading-6 text-gray-900">
        Care Teams
      </h1>
    </div>
  </div>
  <%= render "care_teams" %>
</div>
