<!-- app/views/care_teams/index.html.erb -->
<div class="mb-4 sm:ml-10 lg:ml-0 font-sans w-8/12">
  <div class="flex flex-row items-center justify-around my-1 w-full h-14 relative align-bottom">
    <h1 class="text-xl font-bold text-left whitespace-nowrap text-gray-900 dark:text-white w-1/2">
      Care Teams
    </h1>
  </div>
  <%= render "care_teams" %>
</div>
