<!-- app/views/care_teams/index.html.erb -->
<div class="lg:ml-64 w-full lg:w-3/4 h-full">
  <div class="sm:flex sm:items-center sm:mt-24 md:mt-12 lg:mt-4">
    <div class="sm:flex-auto">
      <h1 class="text-base font-semibold leading-6 text-gray-900">
        Care Teams
      </h1>
    </div>
  </div>
  <%= render "care_teams" %>
</div>
