<section class='container'>
  <section class='row'>
    <table class='table table-striped table-dark compare'>
      <th>Assessment</th>
      <% @functional_statuses.each do |functional_status| %>
        <th><%= display_date(functional_status[:bundle].effective) %></th>
      <% end %>
      <% assessment_count = @functional_statuses&.first&[:assessments]&.count || 0 %>
      <% i = 0 %>
      <% while i < assessment_count %>
        <tr>
          <td><%= @functional_statuses.first[:assessments][i].code.text %></td>
          <% @functional_statuses.each do |functional_status| %>
            <td>
              <%= functional_status[:assessments][i].value.text %>
            </td>
          <% end %>
        </tr>
        <% i += 1 %>
      <% end %>
    </table>
  </section>
</section>