<%= turbo_frame_tag "observations" do %>
    <div id="accordion" class="w-11/12" data-accordion="collapse" data-showhide-target="singleObs" hidden>
      <% if @grouped_observations.blank? %>
        <h3> No Observations Found!</h3>
      <% else %>
        <% index = 0 %>
        <% @grouped_observations.each do |type, sub_group| %>
          <% index += 1 %>
          <div data-filter-target="category">
            <%= render "observations_category", observation_sub_group: sub_group, type: type, index: index %>
          </div>
        <% end %>
        <div data-filter-target="noResults" class="hidden">
          <h3>No matching observations found.</h3>
        </div>
      <% end %>
    </div>
    <div class="w-11/12" data-showhide-target="collectionObs">
      <% if @collection_observations.blank? %>
        <h3> No Collections Found!</h3>
      <% else %>
        <% @collection_observations.each do |collection| %>
          <%= render "collection_observation", observation_collection: collection %>
        <% end %>
      <% end %>
    </div>
  <% end %>
