<!-- app/views/observations/index.html.erb -->
<div class="p-2 mb-4 sm:ml-10 lg:ml-10 font-sans w-8/12" data-controller="showhide">
  <div class="flex flex-row items-center justify-around my-1 pb-4 w-full">
    <h1 class="p-5 text-xl font-bold text-left text-gray-900 dark:text-white w-1/2">
      Observations
    </h1>
    <div class="w-1/2">
      <label for="obs-type" class="sr-only block mb-2 text-md font-medium text-gray-900 dark:text-white">Filter By type</label>
      <select id="obs-type" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-1/2 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        data-action="change->showhide#toggleObservations" data-showhide-target="obsType"
      >
        <option>Observation Collection</option>
        <option>Single Observations</option>
      </select>
    </div>
  </div>
  <%= turbo_frame_tag "observations" do %>
    <% if @grouped_observations.blank? %>
        <h3> No Observations Found!</h3>
    <% end %>
    <div id="accordion" data-accordion="open" data-showhide-target="singleObs" hidden>
      <% index = 0 %>
      <% @grouped_observations.each do |type, sub_group| %>
        <% index += 1 %>
        <%= render "observations_category", observation_sub_group: sub_group, type: type, index: index %>
      <% end %>
    </div>
    <div  class="" data-showhide-target="collectionObs">

      <% if @collection_observations.blank? %>
        <h3> No Collections Found!</h3>
      <% end %>

      <% @collection_observations.each do |collection| %>
        <%= render "collection_observation", observation_collection: collection %>
      <% end %>
    </div>
  <% end %>
</div>
