<section class='container'>
  <section class='row'>
    <p>
      Client ID = <%= @client_id %><br />
      Scope = <%= @scope %><br />
      Redirect URI = <%= @redirect_uri %>
    </p>
  </section>
</section>
