<section class='container'>
  <section class='row'>
    <% unless @contract.nil? %>
      <div class='col-12'>
        <h2>Contract</h2>
        <h2><%= @contract.id%>
      </div>
      <div class='col-6'>
        <table class='table table-dark'>
            <tr>
                <td colspan="3">Signatories</td>
            </tr>
            <tr>
                <td>Signer</td>
                <td>Signer Role</td>
                <td>Signed On</td>
            </tr>
        <% @contract.signer.each do |signer| %>
            <tr>
                <% signer_object = get_object_from_url_with_client(signer.party.reference, @fhir_client) %>
                <td><%= link_to display_human_name(get_object_from_url_with_client(signer.party.reference, @fhir_client).name.first), 
                    :controller => signer_object.resourceType.underscore.pluralize, :action => "show", :id => signer_object.id %></td>
                <td><%= sanitize(I18n.translate(signer.type.code, :scope => [:contract, :signers])) %></td>
                <td><%= signer.signature[0].when %> </td>
            </tr>
        <% end %>
      </div>
    <% else %>
      Not available
    <% end %>
  </section>
</section>
