<%= form_with(model: questionnaire_response, local: true) do |form| %>
  <% if questionnaire_response.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(questionnaire_response.errors.count, "error") %> prohibited this questionnaire_response from being saved:</h2>

      <ul>
      <% questionnaire_response.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
