<h1>Editing Questionnaire Response</h1>

<%= render 'form', questionnaire_response: @questionnaire_response %>

<%= link_to 'Show', @questionnaire_response %> |
<%= link_to 'Back', questionnaire_responses_path %>
