<section class='container'>
  <section class='row'>
  	<h2>
  		Name: <%= sanitize(@questionnaire.name) %><br />
  		Status: <%= sanitize(@questionnaire_response.status) %>
  	</h2>
  	<table class='table table-striped table-dark full-status'>
  		<tr>
  			<th>Question</th>
  			<th>Response</th>
  		</tr>
 			<% @questionnaire.item.each do |question| %>
	  		<tr>
	  			<td><%= question.text %></td>
                  <td>
                  <% @questionnaire_response.item.each do |answer| %>
                    <% if answer.linkId == question.linkId %>
                        <% answer.answer.each do |value| %>
                            <%= value.value %>
                        <% end %>
                    <% end %>
                  <% end %>
                  </td>
	  		</tr>
            <% end %>
	  </table>
	</section>
</section>
