<div class='card bg-dark text-white'>
  <div class='card-header'>
    Activities
  </div>
  <div class='card-body'>
    <table class='table table-striped table-dark status'>
      <% @care_plan.activity.compact.each do |activity| %>
        <% if activity.detail.present? %>
          <tr>
            <td colspan="3"><%=sanitize(activity.detail.description) %></td>
          </tr>
        <% else %>
          <tr>
            <%= render :partial => [get_type(activity.reference.reference), "-card"].join, 
                        :locals => {:activity => get_object_from_url(activity.reference.reference, @care_plan.fhir_client)} %>
         </tr>
        <% end %>
        <% end %>
    </table>
  </div>
</div>
