<%= form_with(model: care_plan, local: true) do |form| %>
  <% if care_plan&.errors&.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(care_plan.errors.count, "error") %> prohibited this care_plan from being saved:</h2>

      <ul>
      <% care_plan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
