<td>
<%= link_to supportingInfoObject.resourceType, :controller => supportingInfoObject.resourceType.underscore.pluralize, :action => "show", :id => supportingInfoObject.id %>
</td>
<td colspan="3">
<%= sanitize(supportingInfoObject.status) %>
</td>