<div class='card-header'>
  <%= @composition.title %>
</div>
<div class='card-body'>
  <div class='row patient-info'>
    <div class='col-12'>
      <%= @composition.date %>
    </div>
  </div>
</div>