<header>
  <nav class='navbar fixed-top navbar-expand-lg bg-dark navbar-dark justify-content-between'>
    <div class='navbar-brand'>
      <%= link_to root_path do %>
        <%= image_tag 'logo.svg', id: 'logo', alt: '' %>
        <div class="header-title">Pseudo EHR</div>
      <% end %>
    </div>
    <div>
    	<%= image_tag 'pacio-logo.png', id: 'logo', alt: '' %> 
    </div>
  </nav>
</header>
