<% if flash.count > 0 %>
	<div class="container-fluid px-0">
		<% flash.each do |key, value| %>
			<% if key.is_a?(String) %>
			  <div data-bs-alert class="<%= flash_class(key) %> alert alert-dismissible fade show col-12" role="alert">
			    <%= value %>
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			  </div>
			<% end %>
		<% end %>
	</div>
<% end %>
