
<% if @fhir_query %>
    <div class="center border border-3 border-dark mt-5"
        style="margin-bottom: -5rem;">
        <p class="text-wrap  text-responsive m-3">FHIR Query: <%= @fhir_query %></p>
    </div>
<% end %>
