
<% if @fhir_query || @fhir_queries %>
  <button class="btn btn-sm btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFhirQuery" aria-expanded="false" aria-controls="collapseFhirQuery">
    Show FHIR queries
  </button>
<% end %>

<div class="alert alert-primary collapse" id="collapseFhirQuery">
  <h4>FHIR Queries:</h4>
  <% if @fhir_query %>
    <div>
      <p><%= @fhir_query %></p>
    </div>
  <% elsif @fhir_queries %>
    <ol class=''>
      <% @fhir_queries.each do |query| %>
        <li><p><%= query %></p></li>
      <% end %>
    </ol>
  <% end %>
  </div>
</div>
