<%= turbo_frame_tag "queries" do %>
<% if queries.empty? %>
  <%= 'No query to display'%>
<% else %>
  <ol class="mt-4 font-medium max-w-md space-y-1 text-gray-500 list-decimal list-inside dark:text-gray-400">
    <% queries.each do |query| %>
      <li><%= query %></li>
    <% end %>
  </ol>
<% end %>
<% end %>
