<section class='container'>
	<h2 class="text-light welcome-text">Connect to a FHIR server</h2>
	<div class='row'>
		<%= form_tag patients_path, method: 'get', class: 'form-inline welcome-form d-flex', id: 'server-form' do %>
			<div class='col'></div>
			<div class='form-group col-auto last'>
				<%= text_field_tag :server_url, nil, class: 'form-control form-control-lg',
							       placeholder: 'http://hapi.fhir.org/baseR4' %>
			</div>
			<%= button_tag 'Connect', class: 'btn btn-primary col-md-2 mx-3', id: 'server-url' %>
			<div class='col'></div>
		<% end %>
	</div>
</section>
