<%= form_with(model: related_person, local: true) do |form| %>
  <% if related_person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(related_person.errors.count, "error") %> prohibited this related_person from being saved:</h2>

      <ul>
      <% related_person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
