<%= form_with(model: risk_assessment, local: true) do |form| %>
  <% if risk_assessment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(risk_assessment.errors.count, "error") %> prohibited this risk_assessment from being saved:</h2>

      <ul>
      <% risk_assessment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
