<%= form_with(model: practitioner_role, local: true) do |form| %>
  <% if practitioner_role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(practitioner_role.errors.count, "error") %> prohibited this practitioner_role from being saved:</h2>

      <ul>
      <% practitioner_role.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
