<!-- app/views/pages/patient_advance_directives.html.erb -->
<div class="p-2 mb-4 sm:ml-10 lg:ml-10 font-sans w-8/12" data-controller="showhide">
  <div class="flex flex-row items-center justify-around my-1 pb-4 w-full">
    <h1 class="p-5 text-xl font-bold text-left text-gray-900 dark:text-white w-1/2">
      Advance Directives (ADIs)
    </h1>
    <div class="w-1/2">
      <label for="doc-status" class="block mb-2 text-md font-medium text-gray-900 dark:text-white">Filter By Status</label>
      <select id="doc-status" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-1/2 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        data-action="change->showhide#toggleAdiStatus" data-showhide-target="adiStatus"
      >
        <option>All</option>
        <option>Current</option>
        <option>Superseded</option>
      </select>
    </div>
  </div>
  <%= turbo_frame_tag "adis",  src: patient_advance_directives_path(@patient.id), loading: "lazy" do %>
    <div class="w-full flex flex-col items-center justify-center my-4 p-6">
      <i class="fas fa-spinner fa-spin text-8xl mr-2"></i>
      <span class="text-center mt-4">Loading ADIs...</span>
    </div>
  <% end %>
</div>
