<!-- app/views/pages/patient_questionnaire_response.html.erb -->
<div class="mb-4 sm:ml-10 lg:ml-0 font-sans w-8/12">
  <%= turbo_frame_tag "questionnaire_response", src: patient_questionnaire_response_path(patient_id: @patient.id, id: @questionnaire_response_id), loading: "lazy" do %>
    <div class="animate-pulse">
      <% (1..10).each do %>
        <div>
          <div class="bg-slate-200 h-8 rounded w-64"></div>
          <div class="bg-slate-200 h-8 rounded w-64"></div>
          <div class="bg-slate-200 h-8 rounded w-64"></div>
          <div class="bg-slate-200 h-8 rounded w-64"></div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
