<!-- app/views/pages/patient_questionnaire_responses.html.erb -->

<div class="mb-4 sm:ml-10 lg:ml-0 font-sans w-8/12">
  <div class="flex flex-row items-center justify-around my-1 w-full h-14 relative align-bottom">
    <h1 class="p-5 text-xl font-bold text-left whitespace-nowrap text-gray-900 dark:text-white w-1/2">
      Questionnaire Responses
    </h1>
  </div>
  <%= turbo_frame_tag "questionnaire_responses", src: patient_questionnaire_responses_path(patient_id: @patient.id), loading: "lazy" do %>
    <table class="animate-pulse">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3">
            Name
          </th>
          <th scope="col" class="px-6 py-3">
            Questionnaire
          </th>
          <th scope="col" class="px-6 py-3">
            Status
          </th>
          <th scope="col" class="px-6 py-3">
            Author
          </th>
          <th scope="col" class="px-6 py-3">
            Date
          </th>
        </tr>
      </thead>
      <tbody>
        <% (1..10).each do %>
          <tr>
            <td><div class="bg-slate-200 h-8 rounded w-64"></div></td>
            <td><div class="bg-slate-200 h-8 rounded w-64"></div></td>
            <td><div class="bg-slate-200 h-8 rounded w-64"></div></td>
            <td><div class="bg-slate-200 h-8 rounded w-64"></div></td>
            <td><div class="bg-slate-200 h-8 rounded w-64"></div></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
