<div
  class="block max-w-xl p-6 h-full bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
  <h5 class="mb-2 text-lg font-medium tracking-tight text-gray-700 dark:text-white">
    Demographics
  </h5>
  <div class="flex flex-wrap -mx-3 my-6 font-normal text-gray-700 dark:text-gray-400">
    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
      <label class="block uppercase tracking-wide text-gray-500 text-xs font-bold mb-1" for="grid-first-name">
        Race
      </label>
      <span class="appearance-none block w-full text-gray-900 mb-3 leading-tigh">
        <%= @patient.race%>
      </span>
    </div>
    <div class="w-full md:w-1/2 px-3">
      <label class="block uppercase tracking-wide text-gray-500 text-xs font-bold mb-1" for="grid-last-name">
        Ethnicity
      </label>
      <span class="appearance-none block w-full text-gray-900 mb-3 leading-tigh">
        <%= @patient.ethnicity%>
      </span>
    </div>
    <div class="w-full md:w-1/2 px-3">
      <label class="block uppercase tracking-wide text-gray-500 text-xs font-bold mb-1" for="grid-last-name">
        Language
      </label>
      <span class="appearance-none block w-full text-gray-900 mb-3 leading-tigh">
        <%= @patient.language%>
      </span>
    </div>
  </div>
</div>
