<!-- app/views/patients/show.html.erb -->
<div class="sm:mt-16 lg:mt-4 lg:ml-64 w-full lg:w-3/4 h-full flex flex-col font-sans items-center justify-center">
  <h1 class="font-semibold text-left text-xl mb-2">Personal Information</h1>
  <%= render "patient" %>
</div>
