<div class="mb-4">
  <h5 class="mb-2 text-md font-bold text-left text-gray-900 dark:text-white">
      Consent
  </h5>
  <p>
    <span><strong>Scope</strong>: <%= consent[:scope] %></span><br />
    <span><strong>Action</strong>: <%= consent[:action]%></span>
  </p>
</div>
