<div class="mb-4">
  <h5 class="mb-2 text-md font-bold text-left text-gray-900 dark:text-white">
      <%= related_person[:relationship] %>
  </h5>
  <p>
    <span><%= related_person[:name] %></span><br />
    <span><strong>Phone</strong>: <%= related_person[:phone]%></span><br />
    <span><strong>Email</strong>: <%= related_person[:email]%></span>
  </p>
</div>
