// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.select-patient-container {
  margin: 25pt auto 0;
}

.select-patient-header {
  text-align: center;
  margin: 0 auto;
}

.select-patient-form {
  width: 350pt;
  margin: 10pt auto 0;
}

.patient-filter {
  margin-bottom: 10pt;
}

.patient-list-container {
  overflow: scroll;
  min-height: 100pt;
  height: calc(100vh - 215pt);
  max-height: 300pt;
}

.patient-list {
  list-style-type: none;
  padding: 0;
}

.patient-option {
  margin-bottom: 5pt;
}

.view {
  position: absolute;
  top: 0;
  right: 0;
}


/* Tooltip container */
.mytooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted wheat;
}

/* Tooltip text */
.mytooltip .mytooltiptext {
  visibility: hidden;
  width: 500px;
  margin-left: -80px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text to the right */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}

/* Show the tooltip text when you mouse over the tooltip container */
.mytooltip:hover .mytooltiptext {
  visibility: visible;
}