<section class='container'>
  <section class='row'>
    <p>
      Context: <%= display_categories(@bundled_cognitive_status.category) %><br />
      Date/Time: <%= display_datetime(@bundled_cognitive_status.effective) %>
    </p>
    <table class='table table-striped table-dark full-status'>
      <tr>
        <th>Question</th>
        <th>Response</th>
      </tr>
      <% @cognitive_statuses.each do |cognitive_status| %>
        <tr>
          <td><%= cognitive_status.code.coding[0].display %></td>
          <td><%= cognitive_status.value.coding[0].display %></td>
        </tr>
      <% end %>
    </table>
  </section>
</section>
