<div class="items-center">
  <p class="flex items-center py-2"><b class="w-32">Category:</b><span class="flex-1"><%= care_plan.category %></span></p>
  <p class="flex items-center py-2"><b class="w-32">Intent:</b><span class="flex-1"><%= care_plan.intent %></span></p>
    <% if care_plan.activities.all? {|activity| activity.is_a?(ServiceRequest)} %>
      <% @service_requests = care_plan.activities %>
      <%= render 'service_requests/service_requests' %>
    <% end %>
</div>
